node_modules/
dist/
.DS_Store
Thumbs.db
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
cli.js
Farmaid_Final_Report.md
FarmAid_Project_Report.md
FarmAid_Report_Part1.md
FarmAid_Report_Part2.md
Farmaid-FinalReport (1).pdf
Farmaid-FinalReport-Edited400.docx
Farmaid-FinalReport.docx
Random_Forest_and_CNN_Report.md